@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900&family=Open+Sans:wght@300;400;500;600;700;800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:wght@100;200;300;400;500;600;800;900&family=Roboto:wght@100;300;500&family=Scheherazade+New:wght@400;700&display=swap");

$black-color: #191716;
$red-color: #440d0f;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Scheherazade New", serif;
  background-color: #eee;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}

/* small */

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/* Medium */

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/* Large */

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

// Start Header

.header {
  padding: 20px;
  background-color: $red-color;
  display: flex;
  justify-content: end;
  position: relative;
  h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 24px;
  }
  .container {
    display: flex;
    justify-content: end;
    align-items: center;
    margin: 0;

    .links {
      position: relative;
    }

    .links .icon {
      width: 40px;
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-end;
    }

    .links .icon span {
      margin-bottom: 5px;
      background-color: #fff;
      height: 4px;
    }

    .links .icon span:first-child,
    .links .icon span:last-child,
    .full-width {
      width: 100% !important;
    }

    .links .icon span:nth-child(2) {
      width: 60%;
      transition: 0.3s;
    }

    .links ul {
      list-style: none;
      background-color: $red-color;
      padding: 0;
      margin: 0;
      position: absolute;
      right: 0;
      top: calc(100% + 23px);
      min-width: 200px;
      display: none;
      z-index: 5;
    }

    .links ul::before {
      content: "";
      border-width: 11px;
      border-color: transparent transparent #ddd transparent;
      border-style: solid;
      position: absolute;
      right: 5px;
      top: -22px;
    }

    .links ul li a {
      display: block;
      padding: 10px;
      text-decoration: none;
      transition: 0.4s;
      color: #ffff;
      text-align: end;
    }
    .links ul li a:hover {
      padding-right: 25px;
    }

    .links ul li:not(:last-child) a {
      border-bottom: 1px solid #ddd;
    }
  }
}
// End Header

.box {
  text-align: end;
  padding: 30px;
  /* height: 80vh; */
  -webkit-box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
  box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
  color: #191716;
  width: 365px;
  margin: 14px 0 30px;
  background-color: #fff;
  border-radius: 20px;
  line-height: 1.8;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  .main-text {
    font-size: 23px;
    position: relative;
    // &::after {
    //   content: "";
    //   position: absolute;
    //   bottom: 0;
    //   width: 80%;
    //   height: 1px;
    // }
  }
  button {
    font-size: 15px;
    margin-top: 30px;
    background-color: #191716;
    color: #fff;
    padding: 5px 15px;
    outline: none;
    border: none;
    border-radius: 10px;
    cursor: pointer;
  }
}

footer {
  padding: 5px 18px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #440d0f;
  color: #ffff;
  position: fixed;
  width: 100%;
  bottom: 20px;
  #counter {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    font-size: 30px;
    outline: none;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    border: 4px solid transparent;
    cursor: pointer;
    &::before {
      content: "";
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 80%;
      height: 80%;
      border: 4px solid $red-color;
      border-radius: 50%;
    }
  }
  #next,
  #back {
    display: none;
    padding: 0px 10px;
    border-radius: 6px;
    border: none;
    outline: none;
    font-size: 25px;
    color: $red-color;
    cursor: pointer;
  }

  p {
    font-size: 19px;
  }
  @media (min-width: 768px) {
    #next,
    #back {
      display: block;
    }
  }
}
